html{
    background: #000;
}

div#video-base {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

div video {
    height:  280px;
    width: 300px;
    /* border-radius: 8px; */
    border-radius: 50%;
    border: 5px solid rgb(45, 235, 20);

}